* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    font-size: 22px;
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
        /* Set to a single column for mobile view */
        align-items: center;
    }

    .card {
        margin-top: 10px;
        margin-left: 10px;
    }

    .center-div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}